.page {
  margin-top: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    & > *:not(:last-child) {
      margin-right: 1.6rem;
    }
  }

  &__main {
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}
