.table {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  table {
    table-layout: fixed;
    justify-self: stretch;
    overflow-wrap: break-word;
    hyphens: auto;
  }

  th {
    background: $color-grey-light-3;
  }

  td,
  th {
    @include border-light();
    padding: 1.5rem 0.5rem;
  }

  &__no-data {
    height: 100%;
    text-align: center;
  }
}
