.heading {
  font-family: $default-font-heading;
  font-weight: 700;
  line-height: 1.62;

  &--jumbo {
    font-size: 11.1rem;
  }

  &--primary {
    font-size: 6.8rem;
  }

  &--secondary {
    font-size: 4.2rem;
  }

  &--tertiary {
    font-size: 2.6rem;
  }

  &--regular {
    font-size: 2rem;
  }
}

.paragraph {
  font-family: $default-font-regular;
  font-size: 1.6rem;
  line-height: 2;
  max-width: 70rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
