@import "../main.scss";

.table {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  td {
    font-size: 1.4rem;
    font-weight: 100;
    color: $color-grey-dark-4;
  }

  th,
  td {
    text-align: center;
    padding: 2rem;
    border-bottom: 1px solid #eee;
    &:not(:last-child) {
      border-right: 1px solid #eee;
    }
  }

  th,
  & &__heading {
    font-size: 1.4rem;
    font-weight: 400;
    color: $color-grey-dark-4;
  }

  td {
    padding: 3rem;
    border-bottom: 1px solid #eee;
    &:not(:last-child) {
      border-right: 1px solid #eee;
    }
  }

  th {
    background: #fcfcfc;
  }
}
