.u-center-text {
  text-align: center !important;
}

.u-center-right {
  text-align: right !important;
}

.u-center-flex-cross {
  align-self: center;
}

.u-margin-bottom-nano {
  margin-bottom: 0.8rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 3rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 8rem !important;
  }
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}

/*
* Text utilities
*/

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}
