.app {
  &__hero {
    align-items: center;
    background: $color-grey-dark-4;
    color: $color-white;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    width: 100vw;
  }

  &__jumbo {
    color: $color-white;
  }

  &__box {
    background: $color-grey-light-3;
    height: 10rem;
    width: 100%;
  }

  &__buttons {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__index {
    left: 0;
    padding-right: 1rem;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
  }

  & > *:not(.app__hero) {
    width: 100rem;
  }

  &__modal {
    & > button:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__loading {
    display: flex;
    align-items: center;
    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__dimmer-demo {
    & > * {
      display: block;
    }
  }

  &__input {
    .app__demo {
      & > *:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}
