@import '../main.scss';

.nav {
  display: flex;
  height: 8rem;
  align-items: center;
  max-width: 100%;
  width: 100%;
  overflow: hidden;

  @include border-bottom-light();

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 50%;
    width: 50%;
    overflow: hidden;

    & > * {
      font-size: 1.4rem;
    }

    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    & > * {
      font-size: 1.4rem;
    }

    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  // Space the items with free space between them
  &--side,
  &--center {
    justify-content: space-between;
  }

  &--center &__menu {
    justify-content: center;
  }

  // Do not show the actions on the side menu
  &--side &__actions {
    display: none;
  }
}

// Sidebar
.sidebar {
  flex-shrink: 0;
  width: 24rem;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  //box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 8rem;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
  }

  &__control svg {
    fill: $color-grey-light-3;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transform: rotate(180deg);
  }

  // Collapsed version
  &--collapsed {
    width: 6.5rem;
  }

  &--collapsed &__logo div {
    visibility: hidden;
  }

  &--collapsed &__control svg {
    transform: rotate(0deg);
  }

  // Direction: Right
  &--right &__control svg {
    transform: rotate(0deg);
  }

  &--collapsed.sidebar--right &__control svg {
    transform: rotate(180deg);
  }

  &--right &__logo span {
    order: -1;
  }

  // Themed verisons
  &--light {
    background: $color-white;
  }
}

.sidemenu {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  &__item {
    min-height: 6rem;
    display: flex;
    align-items: center;
    font-family: $default-font-heading;
    font-size: 1.4rem;
    transition: all 0.2s ease;
    margin-bottom: 0.5rem;

    & > * {
      display: flex;
      /* justify-content: center; */
      align-items: center;
      width: 100%;
      height: 100%;
      padding-left: 2rem;
      color: $color-grey-dark-3;
    }

    &--active {
      background: $color-primary-light;
      font-weight: 600;
    }

    &:hover {
      background: $color-primary-light;
      cursor: pointer;
    }
  }

  .sidebar--left &__item--active {
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      width: 3px;
      height: 100%;
      background: $color-primary;
    }
  }

  .sidebar--right &__item--active {
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 3px;
      height: 100%;
      background: $color-primary;
    }
  }

  &__item svg {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1.5rem;
    fill: $color-grey-dark-3;
    transition: all 0.2s ease;
  }

  .sidebar--collapsed &__item {
    min-height: 6rem;
    padding: 0;
    display: flex;
    justify-content: center;

    span {
      display: none;
    }

    svg {
      width: 2rem;
      height: 2rem;
      margin-right: 0rem;
    }
  }
}
