@import "../main.scss";

.nav {
  display: flex;
  height: 8rem;
  align-items: center;
  max-width: 100%;
  width: 100%;
  overflow: hidden;

  @include respond(phone) {
    //padding: 0 2rem;
  }

  @include border-bottom-light();

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 50%;
    width: 50%;
    overflow: hidden;

    @include transition-fast();

    @include respond(phone) {
      position: fixed;
      transform: scale(0);
      opacity: 0;
      display: flex;
      flex-direction: column;
      top: 0;
      left: 0;
      max-width: 100%;
      width: 100vw;
      height: 100vh;
      background: $color-white;
    }

    & > * {
      font-size: 1.4rem;

      @include respond(phone) {
        font-size: 2.8rem;
      }
    }

    & > *:not(:last-child) {
      margin-right: 1rem;

      @include respond(phone) {
        margin-right: 0;
        margin-bottom: 5rem;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    @include respond(phone) {
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      width: 100vw;
      margin-bottom: 2rem;
      opacity: 0;
      transform: scale(0);
    }

    & > * {
      font-size: 1.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }

    & > *:not(:last-child) {
      margin-right: 1rem;

      @include respond(phone) {
        margin-right: 4rem;
      }
    }
  }

  // Handle open menu
  &__open &__menu {
    @include respond(phone) {
      transform: scale(1);
      opacity: 1;
    }
  }

  &__open &__actions {
    @include respond(phone) {
      transform: scale(1);
      opacity: 1;
    }
  }

  // Space the items with free space between them
  &--side,
  &--center {
    justify-content: space-between;
  }

  &--center &__menu {
    justify-content: center;
  }

  // Do not show the actions on the side menu
  &--side &__actions {
    display: none;
  }

  &__icon {
    display: none;
    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
    cursor: pointer;

    @include respond(phone) {
      display: initial;
    }
  }
}

// Sidebar
.sidebar {
  flex-shrink: 0;
  width: 24rem;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  //box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 8rem;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
  }

  &__control svg {
    fill: $color-grey-light-3;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transform: rotate(180deg);
  }

  // Collapsed version
  &--collapsed {
    width: 6.5rem;
  }

  &--collapsed &__logo div {
    visibility: hidden;
  }

  &--collapsed &__control svg {
    transform: rotate(0deg);
  }

  // Direction: Right
  &--right &__control svg {
    transform: rotate(0deg);
  }

  &--collapsed.sidebar--right &__control svg {
    transform: rotate(180deg);
  }

  &--right &__logo span {
    order: -1;
  }

  // Themed verisons
  &--light {
    background: $color-white;
  }
}

.sidemenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  &__item {
    min-height: 5rem;
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 1.4rem;
    transition: all 0.2s ease;
    margin-bottom: 1.5rem;
    padding: 0px 2rem;

    & > * {
      display: flex;
      /* justify-content: center; */
      align-items: center;
      cursor: pointer;
      padding-left: 3rem;
      border-radius: 2rem;
      width: 19rem;
      height: 100%;
      transition: 0.1s all;

      &:hover {
        background: #eee;
        font-weight: 500;
      }
    }

    &--active {
      & > * {
        background: #262728;
        color: #fff;
        font-weight: 400;
        height: 100%;

        &:hover {
          background: #262728;
        }
      }
    }
  }

  .sidebar--left &__item--active {
    /*
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      width: 3px;
      height: 100%;
      //background: $color-primary;
    }*/
  }

  .sidebar--right &__item--active {
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 3px;
      height: 100%;
      background: $color-primary;
    }
  }

  &__item svg {
    /*
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1.5rem;
    fill: $color-grey-dark-3;
    transition: all 0.2s ease;
    */
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1.5rem;
    fill: #262728;
    transition: all 0.2s ease;
  }

  &__item--active svg {
    fill: #eee;
  }

  .sidebar--collapsed &__item {
    min-height: 5rem;
    width: 5rem;
    padding: 0;
    display: flex;
    justify-content: center;

    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    span {
      display: none;
    }

    svg {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0rem;
    }
  }
}
